<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net>
		<appender name="HttpAppender" type="PostLog.HttpAppender">
			<uri value="http://localhost:34343/testlog" />
			<formatterType value="PostLog.JsonBodyFormatter, PostLog" />
			<parameter>
				<name value="date" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<name value="thread" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>
			<parameter>
				<name value="level" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<name value="logger" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<name value="message" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<name value="exception" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="HttpAppender" />
		</root>
	</log4net>
</configuration>
